<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/sign-up.css" />

</head>
<body>
    <form action="/auth/sign-up" method="post">

      <label for="email">Email</label>
      <input type="email" name="email" id="email">

      <label for="password">Password</label>
      <input type="password" name="password" id="password">

      <label for="confirmPassword">Confirm Password</label>
      <input type="text" name="confirmPassword" id="confirmPassword">

      <label for="address">Adress</label>
      <input type="text" name="address" id="address">


   
      <input hidden="true" type="text" name="type" id="type" value="false">

    <button type="submit" class="btn btn-primary">Sign Up</button>
      
      </form>
</body>
</html>