body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa; /* Light background color */
}
form {
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    padding: 1.5rem;
    border: 1px solid #007bff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}